RewriteEngine On

# Không cho xem cấu trúc thư mục
Options -Indexes

# Nếu không phải file hoặc thư mục thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển tất cả request vào index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]